backend/__pycache__/
backend/venv/
backend/history.json
backend/config.json
backend/admins.json
backend/users.json
backend/images/
backend/data
frontend/node_modules/
frontend/dist/
.env
.vscode/
start.sh
